:root {
  --var-color-primario: #1d4e89;
  --var-color-secundario: #00b2ca2f;
  --var-color-terciario: #3fc1c0;
  --var-color-titulos: ;
  --var-color-resaltado: ;
  --var-color-tranparente: ;
  --var-color-body: linear-gradient(
      416deg,
      rgb(255, 253, 253) 0%,
      rgba(0, 178, 202, 0.07) 100%
    ),
    linear-gradient(696deg, rgba(29, 78, 137, 0.06), rgb(255, 253, 253));
}

* {
  margin: 0;
  padding: 0;
  
}

/* Fuente Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

body{
    background-color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}



.caja1{
  /* justify-content: left; */
  grid-area: 1 / 1 / 3 / 3;
  text-align: left;
  color: aliceblue;
  padding: 20px;
  background-color: rgb(85, 146, 126);
}
.caja2{
  grid-area: 3 / 5 / 6 / 7;
  text-align: left;  
  color: aliceblue;  
  padding: 20px;
  background-color: rgb(23, 100, 74);
}
.caja3{
  grid-area: 3 / 3 / 6 / 5;
  text-align: left;  
  color: aliceblue;  
  padding: 20px;
  background-color: rgb(94, 101, 109);
}
.caja4{
  grid-area: 3 / 1 / 6 / 3;
  text-align: left;  
  color: aliceblue;  
  padding: 20px;
  background-color: rgb(57, 105, 168);
}
.caja5 { 
  grid-area: 1 / 3 / 3 / 7;
  text-align: left;  
  color: aliceblue;  
  padding: 20px;
  background-color: orange;  }

 
a {
  text-decoration: none;
  color: aliceblue;
}

ul {
  list-style: none;
}
li > a {
  color: white;
  font-size: 20px;
}

h1 {
  margin-top: 25px;
  text-align: center;
  /* font-size: 20px; */
}

h3 {
  font-size: 20px;
}

header,
footer {
  display: grid;
  justify-content: space-between;
  max-width: 100%;
  /* background-color: #2e79d4; */
  background-color: #ec9431;
}

footer {


  background-color: green; 

  grid-area: footer;
  max-width: 95%;
  color: black;
}

header {
  grid-area: header;

  height: 80px;
  color: #ffffff;
}

.topnav {
  margin-top: 25px;
}

.topnav a {
  padding: 7px 6px;
  text-decoration: none;
  font-size: 27px;
  color: #ffffff;
  justify-content: space-between;
}

.topnav .icon {
  display: none;

  background-color: #885c51;  
}

header nav {
  position: sticky;
  text-align: left;
  background-color: #E94A24; 
}

.main {
  grid-area: main;
  background-color: rgb(11, 212, 11);
  text-align: left;
   
   
  /* gap: 1rem;
  grid-auto-rows: 22rem; */
  /* grid-template-columns: repeat (auto-fill,minmax(15rem,1fr)) */

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;


}

.container {
  
  width: 100vw;
  /* height: 100vh; */
  display: grid;
  
  grid-template-columns: 1fr ;
  grid-template-rows: 50% 20% 30%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
nav {
  position: sticky;
  top: 0; /* Fija la barra de navegación en la parte superior */
  background-color: #333; /* Cambia el color de fondo según tus preferencias */
  padding: 10px;
}


.text-presentation {
  margin: 2px;
  font-size: 20px;
}

.rights-text {
  margin: 2px;
  font-size: 20px;
}

.rights {
  max-width: 95%;
}

.rights > p {
  max-width: 95%;
  text-align: center;
}


.redes {
  max-width: 95%;
}
.redes h3 {
  text-align: center;
}

.opcionesRedes > ul {
  display: flex;
=======

/* el titulo bienvenidos a nuestra pizzeria */
.main h1 {
  color: aliceblue;
}
 
.opciones-redes {

  flex-direction: column;
  align-items: center;
}

.opcionesMapa > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* RESPONSIVE */

@media screen and (min-width: 272px) {
  .container {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 72% 23%;
    grid-template-areas:
      "header "
      "main"
      "footer ";
  }
}

@media screen and (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    max-width: 100%;
    grid-area: footer;
    grid-template-rows: 33% 33% 34%;
    grid-template-areas:
      "footer "
      "footer "
      "footer ";
  }

  .login-left {
    width: 95%;
    left: 5%;
  }

  .mapa {
    max-width: 95%;
  }
  .mapa h3 {
    text-align: center;
  }
}

@media screen and (max-width: 455px) {
  .container {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 47% 33%;
    grid-template-areas:
      "header "
      "main"
      "footer ";
  }

  .login-left {
    width: 95%;
    left: 5%;
  }

  header {
    grid-area: header;
    height: 190px;
  }

  .topnav {
    margin-top: 5px;
  }

  .topnav a {
    display: none;
  }

  .topnav a.icon {
    display: block;
    height: 50px;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-image: none;
  }

  footer {
    grid-template-columns: 1fr;
    max-width: 100%;
    grid-area: footer;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
      "footer "
      "footer "
      "footer ";
  }

  .mapa {
    max-width: 95%;
  }
  .mapa h3 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 75% 15%;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }

  header {
    grid-area: header;
    height: 80px;
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
  }

  .login {
    max-width: 360px;
  }

  .login-registro {
    max-width: 360px;
  }

  .mapa {
    max-width: 95%;
  }
  .mapa h3 {
    text-align: center;
    font-size: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: 100vh;
    grid-template-rows: 8% 75% 15%;
    grid-template-areas:
      "header header "
      "main main "
      "footer footer ";
  }
  header {
    display: flex;
  }

  header {
    grid-area: header;
    height: 80px;
  }

  footer {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    height: 100vh;
    grid-template-rows: 8% 75% 15%;
    grid-template-areas:
      "header header "
      "main main "
      "footer footer ";
  }
  header {
    display: flex;
  }

  header {
    grid-area: header;
    height: 80px;
  }

  footer {
    flex-direction: row;
  }
}
