:root {
  --var-color-primario: #ec9431;
  --var-color-secundario: #00b2ca2f;
  --var-color-terciario: #3fc1c0;
  --var-color-titulos: ;
  --var-color-resaltado: ;
  --var-color-tranparente: ;
  --var-color-body: linear-gradient(
      416deg,
      rgb(255, 253, 253) 0%,
      rgba(0, 178, 202, 0.07) 100%
    ),
    linear-gradient(696deg, rgba(29, 78, 137, 0.06), rgb(255, 253, 253));
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
li > a {
  color: white;
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

header,
footer {
  display: grid;
  justify-content: space-between;
  max-width: 100%;
  background-color: #ec9431;
}

footer {
  grid-area: footer;
  max-width: 95%;
  color: black;
}

header {
  grid-area: header;
  height: 50px;
  color: #ffffff;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navbar navbar navbar";
  grid-area: header;
  background-color: var(--var-color-primario);
  background-image: none;
  z-index: 1;
}

.topnav {
  overflow: hidden;
}

.topnav {
  margin-top: 5px;
}

.topnav a {
  padding: 7px 6px;
  text-decoration: none;
  font-size: 27px;
  color: #ffffff;
  justify-content: space-between;
}

.topnav .icon {
  display: none;
}

.topnav a.active {
  color: white;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 50px;
}

.container {
  width: 100vw;
  height: 140vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7% 40% 50% 30%;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

.text-presentation {
  margin: 2px;
  font-size: 20px;
}

.rights-text {
  margin: 2px;
  font-size: 20px;
}

.rights {
  max-width: 95%;
}

.rights > p {
  max-width: 95%;
  text-align: center;
}

.redes {
  max-width: 95%;
}
.redes h3 {
  text-align: center;
}

.opcionesRedes > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opcionesMapa > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGIN */

.central {
  max-width: 94%;
  height: 98%;
  position: relative;
  top: 2%;
  left: 5%;
  grid-area: main;
}

.login {
  max-width: 94%;
  height: 98%;
  position: relative;
  padding: 5px 5px;
  background-color: #ffffff4b;

  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;

  box-sizing: border-box;
}

.welcome {
  color: #222222;
}

.cuadro {
  padding: 15px 0;
  margin: auto;
}

.cuadro input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.cuadro input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cuadro .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 8px;
  font-size: 16px;
}

.cuadro .form-control:focus {
  z-index: 2;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc27;
  border-radius: 5px;
}

label {
  color: #222222;
  display: block;
  margin-bottom: 10px;
}

.cuadro .checkbox {
  font-weight: 400;
  text-align: center;
}

button[type="submit"] {
  text-align: center;
  display: block;
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

.pie-form {
  text-align: center;
  margin-top: 2vh;
}

.pie-form a {
  display: block;
  text-decoration: none;
  color: #222222;
  margin-bottom: 3px;
}

.pie-form a:hover {
  color: #000000;
}

/* REGISTRO */

.login-left {
  max-width: 94%;
  height: 98%;
  position: relative;
  top: 2%;
  left: 2%;
  grid-area: aside;
}
.login-registro {
  max-width: 94%;
  height: 98%;
  padding: 5px 5px;
  background-color: #ffffff4b;

  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;

  box-sizing: border-box;
}

.titulo-registro-01 {
  color: #222222;
}

.titulo-registro-02 {
  color: #222222;
}

.titulo-registro-03 {
  color: #222222;
}

.cuadro-registro {
  padding: 15px 0;
  margin: auto;
}

.cuadro-registro input[type="email-registro"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.cuadro-registro input[type="password-registro"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cuadro-registro .form-control-registro {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 8px;
  font-size: 16px;
}

.cuadro-registro .form-control-registro:focus {
  z-index: 2;
}

input[type="email-registro"],
input[type="password-registro"] {
  width: 150%;
  border: 1px solid #cccccc27;
  border-radius: 5px;
}

label {
  color: #222222;
  display: block;
  margin-bottom: 10px;
}

button[type="submit"] {
  text-align: center;
  display: block;
  width: 60%;
  padding: 10px;
  background-color: #1d4e89;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 20%;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

.pie-form-registro {
  text-align: center;
  margin-top: 2vh;
}

.pie-form-registro a {
  display: block;
  text-decoration: none;
  color: #222222;
  margin-bottom: 3px;
}

.pie-form-registro a:hover {
  color: #000000;
}

@media screen and (min-width: 272px) {
  .container {
    height: 160vh;
    grid-template-columns: 1fr;
    grid-template-rows: 4% 24% 52% 27%;
    grid-template-areas:
      "header "
      "main"
      "aside"
      "footer ";
  }
}

@media screen and (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    max-width: 100%;
    grid-area: footer;
    grid-template-rows: 33% 33% 34%;
    grid-template-areas:
      "footer "
      "footer "
      "footer ";
  }

  .login-left {
    width: 95%;
    left: 5%;
  }

  .mapa {
    max-width: 95%;
  }
  .mapa h3 {
    text-align: center;
  }
}

@media screen and (max-width: 455px) {
  .container {
    height: 165vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4% 24% 52% 27%;
    grid-template-areas:
      "header header header"
      "main main main"
      "aside aside aside"
      "footer footer footer";
  }

  .login-left {
    width: 95%;
    left: 5%;
  }

  .navbar {
    grid-area: navbar;
    width: 100%;
    height: 50px;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navbar navbar navbar";
    grid-area: header;
    height: 50px;
    background-color: var(--var-color-primario);
    background-image: none;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }

  .topnav {
    margin-top: 5px;
  }

  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-color: var(--var-color-primario);
    background-image: none;
  }

  footer {
    grid-template-columns: 1fr;
    max-width: 100%;
    grid-area: footer;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
      "footer "
      "footer "
      "footer ";
  }

  .mapa {
    max-width: 95%;
  }
  .mapa h3 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6% 78% 16%;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  }

  header {
    grid-area: header;
    height: 50px;
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
  }

  .login {
    max-width: 360px;
  }

  .login-registro {
    max-width: 360px;
  }

  .mapa {
    max-width: 95%;
  }
  .mapa h3 {
    text-align: center;
    font-size: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: 100vh;
    grid-template-rows: 6% 78% 16%;
    grid-template-areas:
      "header header "
      "main aside "
      "footer footer ";
  }

  footer {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    height: 100vh;
    grid-template-rows: 6% 78% 16%;
    grid-template-areas:
      "header header "
      "main aside "
      "footer footer ";
  }
  header {
    display: flex;
  }

  header {
    grid-area: header;
    justify-content: space-between;
  }

  footer {
    flex-direction: row;
  }
}
