:root {
  --var-color-primario: #1d4e89;
  --var-color-secundario: #00b2ca2f;
  --var-color-terciario: #3fc1c0;
  --var-color-titulos: ;
  --var-color-resaltado: ;
  --var-color-tranparente: ;
  --var-color-body: linear-gradient(
      416deg,
      rgb(255, 253, 253) 0%,
      rgba(0, 178, 202, 0.07) 100%
    ),
    linear-gradient(696deg, rgba(29, 78, 137, 0.06), rgb(255, 253, 253));
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
li > a {
  color: white;
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

header,
footer {
  display: grid;
  justify-content: space-between;
  max-width: 100%;
  background-color: #2e79d4;
}

footer {
  grid-area: footer;
  max-width: 95%;
  color: black;
}

header {
  grid-area: header;
  height: 80px;
  color: #ffffff;
}

.topnav {
  margin-top: 25px;
}

.topnav a {
  padding: 7px 6px;
  text-decoration: none;
  font-size: 27px;
  color: #ffffff;
  justify-content: space-between;
}

.topnav .icon {
  display: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7% 63% 30%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.text-presentation {
  margin: 2px;
  font-size: 20px;
}

.rights-text {
  margin: 2px;
  font-size: 20px;
}

.rights {
  max-width: 95%;
}

.rights > p {
  max-width: 95%;
  text-align: center;
}

.redes {
  max-width: 95%;
}
.redes h3 {
  text-align: center;
}

.opcionesRedes > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opcionesMapa > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flexbox;
  padding: 1em;
}

/* RESPONSIVE */

@media screen and (min-width: 272px) {
  .container {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 72% 23%;
    grid-template-areas:
      "header "
      "main"
      "footer ";
  }
}

@media screen and (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    max-width: 100%;
    grid-area: footer;
    grid-template-rows: 33% 33% 34%;
    grid-template-areas:
      "footer "
      "footer "
      "footer ";
  }

  .login-left {
    width: 95%;
    left: 5%;
  }

  .mapa {
    max-width: 95%;
  }
  .mapa h3 {
    text-align: center;
  }
}

@media screen and (max-width: 455px) {
  .container {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 47% 33%;
    grid-template-areas:
      "header "
      "main"
      "footer ";
  }

  .login-left {
    width: 95%;
    left: 5%;
  }

  header {
    grid-area: header;
    height: 190px;
  }

  .topnav {
    margin-top: 5px;
  }

  .topnav a {
    display: none;
  }

  .topnav a.icon {
    display: block;
    height: 50px;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-image: none;
  }

  footer {
    grid-template-columns: 1fr;
    max-width: 100%;
    grid-area: footer;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
      "footer "
      "footer "
      "footer ";
  }

  .mapa {
    max-width: 95%;
  }
  .mapa h3 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 75% 15%;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }

  header {
    grid-area: header;
    height: 80px;
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
  }

  .login {
    max-width: 360px;
  }

  .login-registro {
    max-width: 360px;
  }

  .mapa {
    max-width: 95%;
  }
  .mapa h3 {
    text-align: center;
    font-size: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: 100vh;
    grid-template-rows: 8% 75% 15%;
    grid-template-areas:
      "header header "
      "main main "
      "footer footer ";
  }
  header {
    display: flex;
  }

  header {
    grid-area: header;
    height: 80px;
  }

  footer {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    height: 100vh;
    grid-template-rows: 8% 75% 15%;
    grid-template-areas:
      "header header "
      "main main "
      "footer footer ";
  }
  header {
    display: flex;
  }

  header {
    grid-area: header;
    height: 80px;
  }

  footer {
    flex-direction: row;
  }
}
